# Ignorar el archivo .env que contiene información sensible
.env

# Ignorar dependencias de Python
__pycache__/
*.pyc
env/

# Ignorar logs
*.log

# Ignorar configuraciones específicas del editor
.vscode/
.idea/
